@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



$font-nav: 'Poiret One', cursive;
$main-color:#e73827;
$white:#fff;
$cinnabar: #e73827;
$tart-orange: #f7484e;
$cerulean:#27A3E7;
$blizzard-blue:#27c3e7;




$nav: $cerulean 28%, $blizzard-blue 86%;

.nav-wrapper {    
    letter-spacing: 1.75px;
    background: linear-gradient(135deg,$nav);
    color:$white;
    padding: 2em 10em 1.25em 10em;
    font-weight: 700;
    
  }
.nav{
    max-width: 800px;
    margin:0 auto;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.icons img{
    margin: 0 5px;
    width:36px;
    height:36px;
}

  

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $font-nav;
    font-size: 2rem;
}

.menu h1{
    margin-bottom: 1.3rem;
}




/*ABOUT*/

.about{
    display:flex;
    flex-direction: row;
    padding: 2em 10em 1.25em 10em;
}

.about img{
    max-height: 50em;
}