@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



$font-nav: 'Poiret One', cursive;
$main-color:#e73827;
$white:#fff;
$cinnabar: #e73827;
$tart-orange: #f7484e;



$nav: $cinnabar 28%, $tart-orange 86%;

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 1.75px;
    background: linear-gradient(135deg,$nav);
    color:$white;
    padding: 2em 10em 1.25em 10em;
    font-weight: 700;
    
  }
  

.name{
    font-family: $font-nav ;
    font-size:4rem;
    align-self: center;
} 

.animation{
    align-self: center;
    display: flex;
    flex-direction: row;
    padding-right: 2.5em;
    
}
.box{
    height:15px;
    width:15px;
    background: white;
    margin:1px;
    
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $font-nav;
    font-size: 2rem;
}

.menu h1{
    margin-bottom: 1.3rem;
}