@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



$font-nav: 'Poiret One', cursive;
$font-about: "NeueHaasUnicaW1G-Regular", "Helvetica Neue", "Helvetica", sans-serif;
$font-projects: 'Source Sans Pro',sans-serif;
$main-color:#e73827;
$white:#fff;
$cinnabar: #e73827;
$tart-orange: #f7484e;
$cerulean:#27A3E7;
$blizzard-blue:#27c3e7;




$nav: $cerulean 28%, $blizzard-blue 86%;


/*nav*/
.nav-wrapper {    
    letter-spacing: 1.75px;
    background: linear-gradient(135deg,$nav);
    color:$white;
    padding: 2em 10em 1.25em 10em;
    font-weight: 700;
    
  }
.nav{
    max-width: 800px;
    margin:0 auto;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  

/*icons*/

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.icons img{
    margin: 0 5px;
    width:24px;
    height:24px;
}

.icons img:nth-child(1){
    width:28px;
    height: 32px;
}

.icons img:nth-child(4){
    width:30px;
    height: 30px;
}
  
/*menu*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $font-nav;
    font-size: 2rem;
    width:100%;
}

.menu h1{
    margin-bottom: 1.3rem;
}




/*ABOUT*/

.about{
    max-width: 1200px;
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    padding: 2em 10em 1.25em 10em;
}

.about-photo img{
    max-height: 40em;
}

.about h1{
    font-size:2.4rem;
    margin: 0 0 .5em;
}

.about-text h3{
    
    padding:.3em 0;
    font-weight:400;
    font-size: 1.8rem;
    line-height: 2.7rem;;
}

.about-text{
    padding:0 2.5em;
    font-family: $font-about;

}


/*projects*/

.projects-wrapper{
    border-top: 1px solid #27c3e7;
}

.projects{
    max-width: 1200px;
    width:80%;
    margin: 0 auto;
}

.project{
    display:flex;
    flex-direction: row;
    align-items: center; 

}

.projects h1{
    font-size: 4rem;
    font-family: $font-nav;
    font-weight: 700;
    margin-top:1.5em;
}



.name h1{
    font-size:2.5rem;
    font-family: $font-projects;
    margin-bottom:.7em;
}

.name h3{
    font-family: $font-projects;
    font-size: 1.7rem;
    line-height: 1.9rem;
    font-weight: 400;
}


.deviceImages-wrapper{
    position: relative;
}

.device-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.device-images img:nth-child(1){
    width:350px;
}

.device-images img:nth-child(2){
    height:250px;
   
}



.stack-icons{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width:100%;
    background-color: #fff;
    display:flex;
    justify-content: center;
    opacity: 0;
    transition: .9s ease;
    align-items: center;
}

.stack-icons:hover{
    opacity: 1;
}


.stack-icons img{
    width:9em; 
    max-width: 100%;
    margin:.75em;

}